/*Bear Sightings*/
#bear-map, #squatch-map, #both-map {
  background-color: transparent;
  color: none;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}
map{
background-color: red;

}
.bearmap-row {
  display: flex; /* equal height of the children */
}

.bearmap-col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: none;
}

.bearmapbutton
{
  background: none;
  height: 100px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  img.bearmapbutton {
    height: 100px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  img.bearmapbutton {
    height: 50px;
  }
}



/*Names of Sasquatch*/
.map {
  margin:10px;
  border:none;
  position: relative;
  display: inline-block;

}

.map img {
  max-width:100%;
  display: block;
}

.box {
  width:5%;
  height:5%;
  background-image: url(img/spotx.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:28%;
  left:7%;
}

#pin-2 {
  top:26%;
  left:12.5%;
}

#pin-3 {
  top:31%;
  left:16.5%;
}

#pin-4 {
  top:36%;
  left:15%;
}

#pin-5 {
  top:65.5%;
  left:22.5%;
}

#pin-6 {
  top:22%;
  left:69.7%;
}

#pin-7 {
  top:37%;
  left:66.7%;
}

#pin-8 {
  top:34%;
  left:73.5%;
}

#pin-9 {
  top:57.5%;
  left:73.5%;
}

#pin-10 {
  top:72%;
  left:83.5%;
}



.box:hover > .pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:-100%;
  display: none;
}

.pin-text2 {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:75%;
  display: none;
}

.pin-text h3 {
    color:white;
    opacity: 60%;
    font-size: 20px;
    padding: 0.5rem;
    width: 280px;
}

.pin-text2 p {
    color:white;
    opacity: 60%;
    padding: 0.5rem;
    width: 280px;
}

.pin-text2 h3 {
    color:white;
    opacity: 60%;
    font-size: 20px;
    padding: 0.5rem;
    width: 280px;
}

.pin-text p {
    color:white;
    opacity: 60%;
    padding: 0.5rem;
    width: 280px;
}

.pin-text {
    color:white;
    background-color: #cf9747;
    opacity: 60%;
    padding: 0.5rem;
    width: 300px;
    text-overflow: inherit;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #phone-names { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  #phone-name { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #desktop-names { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  #desktop-name { display: block; }   /* hide it elsewhere */
}
